.header{
    font-size: 2rem;
    font-style: oblique;
    grid-area: header;
}

.header__title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body{
    background-color: #efd4b2;
}

main{
    grid-area: section;
    padding: 15px;
}

.menu{
    font-size: 1.2rem;
    grid-area: aside;
    background-color: #d4b289;
}

footer{
    grid-area: footer;
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-areas: 
    "header header"
    "aside section"
    "aside section"
    "aside section"
    "footer footer";
    grid-template-columns: 0.3fr 2fr;
}

img{
    width: 200px;
    height: 200px;
    padding: 10px;
}

img:hover{
    width: 300px;
    height: 300px;
}

p{
    text-align: center;
}

section{
    display: flex;
    flex-direction: row;
    box-shadow: 8px 7px 12px 3px rgba(0,0,0,0.6);
    padding: 10px;
    background-color: #d4b289;
}

.section2__text{
    order:1;
}